// colors
$whiteColor: #FFFFFF;
$blackColor: #222222;
$yellowColor: #F4E822;
$gray80Color: #4B4B4B;
$gray60Color: #747474;
$gray40Color: #9E9E9E;

// width
$phoneWidth: 600px;
$tabletWidth: 1200px;
$laptopWidth: 1800px;